#Footer
{
    display: flex;
    justify-content: flex-start;

    padding: 50px;
    border: 1px solid;
    border-color: transparent;
    background-color:  #F2F2F2;
    margin: 0px -100px 0px -100px;
}

.F
{
    margin-left: 25px; 
    margin-right: 250px;
    padding-right: 150px;
}

a
{
    text-decoration: none;
	color: black;
}