

header
{
	display: flex;
	flex-wrap: wrap;
	margin-right: 5px;
	margin-left: 5px;
	padding-bottom: 20px;
	justify-content: flex-end;
}

.n
    {
        display: flex;
        margin-left: 95px;    
    }

.n > a
{
	text-decoration: none;
	color:black;
	display: flex;
	width: 150px ;
	height:60px;
	align-items: flex-end;
	justify-content: center;
	border-top: solid 3px white;
}

.n > a:hover
{
	font-weight: bold;
	color : #0065FC;
	border-top: solid 3px #0065FC;       
}

header > a
{
	text-decoration: none;
	font-weight: bold;
	color: #0065FC;
	display: flex;
	width: 150px;
	height: 60px;
	align-items: flex-end;
	justify-content: center;
	border-top: solid 3px white;
}

header > a:hover
{
	border-top: solid 3px #0065FC;
}

#logo
{
	position: absolute;
	top : 30px;
	left: 50px;

}

#trouvez p
{
	margin-top: -15px;
	margin-bottom: 20px;
}

#trouvez h1
{
	margin-bottom: 25px;
}

#barre
{
	margin-bottom: 20px;
}

#recherche
{
	padding-top: 25px;
}

#barre i
{
	border: 1px solid;
	border-radius: 10px 0px 0px 10px;
	padding: 15px;
	background-color:  #F2F2F2;
	border-color: #F2F2F2 ;
}

input
{
	border: 1px solid;
	padding: 15px;
	border-color: #F2F2F2 ;
} 

.boutonR
{
	border: 1px solid;
	border-radius: 0px 10px 10px 0px;
	padding: 15px;
	background-color:  #0065FC;
	border-color: #F2F2F2 ;
}

#barre strong
{
	color:white;
}

section a
{
	color: black;
}

#Filtres a
{
	text-decoration: none;
	color: grey;
}

#Filtres a:hover
{
	color: #0065FC;
}

#Filtres p
{
	font-weight: bold;
}

#Filtres
{
	display: flex;
	align-items: center;
}

#Filtres p
{
	margin-right: 10px;
}

.filtres
{
	
	border: 2px solid;
	border-radius: 30px;
	margin: 10px;
	padding: 0px 25px 0px 0px;
	border-color: #F2F2F2;
}

.filtres:hover
{
	border-color:#DEEBFF;
}

#Filtres i
{
	
	padding: 12px;
	background-color:  #DEEBFF;
	margin-right: 10px;
	border: 1px solid;
	border-radius: 30px;
	color:#0065FC ;
	border-color: #F2F2F2;
}

#info i
{
	padding: 12px;
	background-color:  white;
	margin-right: 10px;
	border: 1px solid;
	border-radius: 30px;
	color:#0065FC ;
	border-color: #F2F2F2;
}
