body
{
	margin: 0px;
	font-family: "Raleway", Arial;
}

#global
{
	margin: 0 auto;
	width: max-content;
}


header
{
	display: flex;
	justify-content: space-between;
}

.logo
{
	margin-left: 75px;
	margin-top: 25px;
}

.nav
{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 20px;
	justify-content: flex-end;
	margin-right: 70px;
}

.navigation
{
    display: flex;      
}

.navigation > a
{
	text-decoration: none;
	color:black;
	display: flex;
	width: 150px ;
	height:60px;
	align-items: flex-end;
	justify-content: center;
	border-top: solid 3px white;
}

.navigation > a:hover
{
	font-weight: bold;
	color : #0065FC;
	border-top: solid 3px #0065FC;       
}

.nav > a
{
	text-decoration: none;
	font-weight: bold;
	color: #0065FC;
	display: flex;
	width: 150px;
	height: 60px;
	align-items: flex-end;
	justify-content: center;
	border-top: solid 3px white;
}

.nav > a:hover
{
	border-top: solid 3px #0065FC;
}

#trouvez p
{
	margin-top: -15px;
	margin-bottom: 20px;
}

#trouvez h1
{
	margin-bottom: 25px;
}

#barre
{
	display: flex;
}

#recherche
{
	padding-top: 60px;
	margin-left: 75px;
}

#barre i
{
	border: 1px solid;
	border-radius: 10px 0px 0px 10px;
	padding: 15px;
	background-color:  #F2F2F2;
	border-color: transparent ;
}

input
{
	border: 1px solid;
	padding: 15px;
	border-color: #F2F2F2 ;
} 

.boutonR
{
	border: 1px solid;
	border-radius: 0px 10px 10px 0px;
	padding: 15px;
	background-color:  #0065FC;
	border-color: #F2F2F2 ;
}

#barre strong
{
	color:white;
}

section a
{
	color: black;
}

#filtres
{
	margin-top: 30px;
	margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
   
#filtres > p
{
    font-weight: bold;
    margin-right: 30px;
}
   
#filtres > a
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 44px;
    background-color: white ;
    border: solid 3px #f2f2f2;
    border-radius: 50px 50px 50px 50px;
	padding-right: 1em;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#filtres > a > i 
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    color: #0065FC;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 0.5em;
    margin-left: -5px;
}
   
#filtres > a:hover
{
    background-color: #f2f2f2 ;
}


#info i
{
	padding: 15px 20px 15px 20px;
	background-color:  white;
	margin-right: 10px;
	border: 1px solid;
	border-radius: 50px;
	color:#0065FC ;
	border-color: #F2F2F2;
}
