@media all and (max-device-width: 480px)
{

    header  /*HEADER*/
    {
        flex-wrap: wrap-reverse;
        margin: 0px;
        padding-bottom: 0px;
    }

    #logo
    {
        top:30px;
        left: 20px;
    }

    .navigation
    {
        margin: 0px;
        width: 100%;
    }

    .navigation > a 
    {
        width: 50%;
        justify-content: center;
        align-items: center;
        border-bottom: solid 3px #DEEBFF;
    }

    header > a
    {
        width: 150px;
        height: 57px;
        margin-bottom: 0px;
        margin-bottom: 10px;
    }

    .navigation > a:hover
    {
        border-bottom: solid 3px #0065FC;
        border-top: solid 3px white;
    }


    .inscrire
    {
        position: absolute;
        top: 25px;
        right: 5px;
    }

   
    #filtres > p 
    {
        width: 100%;
    }

    #filtres > a
    {
        margin-left: 0px;
    }


    #populaire
    {
        border-radius: 0px;
        padding: 0px;
    }

    #bloc-HP
    {
        display: flex;
        flex-direction: column-reverse;
    }

    .imageP
    {
        width: 150px;
        height: 160px;
    }

    .flexH
    {
        display: flex;
        flex-direction: column;
    }

    

    h1 i
    {
        margin-left: 50px;
    }
    
    .fenetre-populaire
    {
        margin-left: 5px;
    }

    #bloc-hebergements
    {
        background-color: white;
        margin-right: 0px;
        padding: 0px;
    }

    .fenetre-hebergement
    {
        padding: 0px;
        margin: 0px 0px 15px 0px;
        box-shadow: 0px 5px #F2F2F2;;
    }

    .imageH
    {
        width: 350px;
        height: 125px;
        margin-bottom: 10px;
    }

    .box
    {
        display: flex;
        flex-direction: column;
    }

    
    .un, .deux, .quatre, .cinq, .six
    {
        margin: 0px;
    }

    #Footer
    {
        display: flex;
        flex-direction: column;
    }
}
