@media screen and (min-width: 481px) and (max-width: 1024px)
{
    #logo
    {
        top:30px;
        left: 15px;
    }

    .navigation > a
    {
        width: 100px ;
	    height: 60px;
    }

    header
    {
        margin-right: 25px;
    }

    header > a
    {
        width: 75px;
	    height: 60px;
    }

    #recherche
    {
        margin-left: 15px;
    }

    .imageP
    {
        width: 300px;
        height: 200px;
    }

    .info-fenetre-populaire
    {
        margin: 25px
    }

    h1 i
    {
        margin-left: 50%;
    }

    #bloc-HP
    {
        display: flex;
        flex-direction: column-reverse;
        margin-left: 0px;
        margin-right: 0px;
    }

    .flexH
    {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    .imageH
    {
        width: 600px;
    }

    #bloc-hebergements
    {
        margin-right: 0px;
        flex-wrap: wrap;
        margin-top: 25px;
    }

    #Activités
    {
        margin-left: 15px;
    }

    .box
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;      
    }
    
    .big img
    {
        width: 325px;
        height: 500px;
    }

    .medium img
    {
        width: 325px;
        height: 225px; 
    }

    .small img
    {
        width: 325px;
        height: 175px;
    }

    .un
    {
        margin-left: 25px;
        margin-right: 25px;
    }

    .deux
    {
        margin-bottom: 30px;
    }

    .quatre
    {
        margin-right: 25px;
        margin-left: 50px;
    }

    .cinq
    {
        margin-bottom: 30px;
        margin-right: 25px;
    }

    .six 
    {
        margin-right: 25px;
    }

    #Footer
    {
        display: flex;
        flex-direction: column;
    }

    .paragraphe-footer
    {
        margin-left: 0px; 
        margin-right: 0px;
        padding-right: 0px;
        margin-bottom: 25px;
    }
}