@media all and (max-width: 480px)
{
    header 
    {
        flex-wrap: wrap-reverse;
        margin: 0px;
        padding-bottom: 0px;
    }

    #logo
    {
        top:30px;
        left: 20px;
    }

    .navigation
    {
        margin: 0px;
        width: 100%;
    }

    .navigation > a 
    {
        width: 50%;
        justify-content: center;
        align-items: center;
        border-bottom: solid 3px #DEEBFF;
        margin-top: 5%;
    }

    header > a
    {
        width: 150px;
        height: 57px;
        margin-bottom: 0px;
        margin-bottom: 10px;
    }

    .navigation > a:hover
    {
        border-bottom: solid 3px #0065FC;
        border-top: solid 3px white;
    }

    #recherche
    {
        margin-left: 10px;      
    }

    #filtres > p 
    {
        width: 100%;
    }

    #filtres > a
    {
        margin-left: 0px;
    }

    #pop
    {
        margin-left: 10px;
    }

    #populaire
    {
        border-radius: 0px;
        padding: 0px;
    }

    #bloc-HP
    {
        display: flex;
        flex-direction: column-reverse;
        margin-left: 0px;
        margin-right: 0px;
    }

    .imageP
    {
        width: 150px;
        height: 160px;
    }

    .flexH
    {
        display: flex;
        flex-direction: column;
    }

    h1 i
    {
        margin-left: 50px;
    }
    
    .fenetre-populaire
    {
        margin-left: 5px;
    }

    #Hébergements
    {
        margin-left: 15px;
    }

    #bloc-hebergements
    {
        background-color: white;
        margin-right: 0px;
        margin-left: 0px;
        padding: 0px;
    }

    .fenetre-hebergement
    {
        padding: 0px;
        margin: 0px 0px 15px 0px;
        box-shadow: 0px 5px #F2F2F2;
    }

    .imageH
    {
        width: 100%;
        height: 125px;
        margin-bottom: 10px;
    }

    .afficher
    {
        margin-left: 0px;
    }

    #bloc-activite
    {
        margin-left: 10px;
    }

    #Activités
    {
        margin-left: 0px;
    }

    .box
    {
        display: flex;
        flex-direction: column;
    }

    
    .un, .deux, .quatre, .cinq, .six
    {
        margin: 0px;
        margin-bottom: 25px;
    }

    .big img
    {
        background-size: cover;
        width: 350px;
        height: 125px;
    }

    .medium img
    {
        background-size: cover;
        width: 350px;
        height: 125px; 
    }

    .small img
    {
        background-size: cover;
        width: 350px;
        height: 125px;
    }

    #Footer
    {
        display: flex;
        flex-direction: column;
    }

    .paragraphe-footer
    {
        margin-left: 0px; 
        margin-right: 0px;
        padding-right: 0px;
        margin-bottom: 25px;
    }
}
