#Hébergements
{
    margin-left: 25px;
}

.imageH
{
    width: 350px;
    height: 180px;
    margin-bottom: 10px;
    border-radius: 15px 15px 0px 0px;
}

#bloc-hebergements
{
    border: 1px solid;   
    border-radius: 25px;
    background-color:  #F2F2F2;
    border-color: transparent;
    margin-right: 50px;
    padding: 25px;
}

#pop
{
    margin-left: 25px;
}

#populaire
{
    border: 1px solid;   
    border-radius: 25px;
    background-color:  #F2F2F2;
    border-color: transparent;
    padding: 25px;
}

#bloc-HP
{
    display: flex;

    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 75px;
    margin-right: 75px;
}

.afficher
{
    position: relative;
    bottom: -25px;
    margin-left: 20px;
}

.fenetre-hebergement
{
    display: flex;
    flex-flow: column;

    border: 2px solid;
    border-radius: 15px;
    border-color: transparent;
    background-color: white;
    box-shadow: 5px 5px 5px #dbdbdb;
    padding: 5px;
    margin: 15px;
}

.flexH
{
    display: flex;
}

h1 i
{
    margin-left: 30%;
}

.fenetre-populaire
{
    display: flex;

    border: 1px solid;
    border-color: transparent;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #dbdbdb;
    padding: 5px;
    margin: 15px; 
    margin-top: 35px;
}

.star-blue i
{
    color: #0065FC;
}

.star-grey i
{
    color: #F2F2F2;
}

.bloc-imageP
{
    width: 85%;
}

.info-fenetre-populaire
{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.star-populaire-position
{
    position: absolute;
    bottom: 1px;
}

.imageP
{
    width: 150px;
    height: 160px;
    border-radius: 5% 0% 0% 5%;
}

#Activités
{
    margin-left: 100px;
}

.imageA
{
    border-radius: 15px 15px 0px 0px;
}

.title
{
    display: flex;
    flex-direction: column;
}

.title span 
{
    margin-left: 15px;
}

.big
{
    border: 1px solid;
    border-radius: 15px;
    border-color: #F2F2F2;
    padding-bottom: 25px;
    
    margin-bottom: 50px;
    box-shadow: 5px 5px 5px #dbdbdb;
}

.big img
{
    width: 375px;
    height: 500px;
}

.medium
{
     border: 1px solid;
     border-radius: 15px;
     border-color: #F2F2F2;
     padding-bottom: 25px;
    
     margin-bottom: 25px;
     box-shadow: 5px 5px 5px #dbdbdb;
}

.medium img
{
    width: 375px;
    height: 225px; 
}

.small
{
    border: 1px solid;
    border-radius: 15px;
    border-color: #F2F2F2;
    padding-bottom: 25px;
    
    margin-bottom: 25px;
    box-shadow: 5px 5px 5px #dbdbdb;
}

.small img
{
    width: 375px;
    height: 175px;
}

.box
{
    display: flex;
    
}

.double
{
    display: flex;
    flex-flow: column;
}

.un
{
    margin-left: 95px;
    margin-right: 65px;
}

.deux
{
    margin-bottom: 32px;
}

.quatre
{
    margin-right: 65px;
    margin-left: 65px;
}

.cinq
{
    margin-bottom: 32px;
    margin-right: 95px;
}

.six 
{
    margin-right: 95px;
}

img
{
    object-fit: cover;
}