img
{
    border-radius: 15px;
}

.imageA
{
    background-size: cover;
    width: 280px;
    height: 180px;
    margin-bottom: 10px;
}

#hebergements
{
    border: 1px solid;   
    border-radius: 25px;
    background-color:  #F2F2F2;
    border-color: transparent;
    margin-right: 70px;
    padding: 25px;
}

#populaire
{
    border: 1px solid;   
    border-radius: 25px;
    background-color:  #F2F2F2;
    border-color: transparent;
    padding: 25px;
}

#first
{
    display: flex;
    justify-content: flex-start;

    margin-bottom: 50px;
    margin-top: 50px;
}

.afficher
{
    position: relative;
    bottom: -25px;
}

.A
{
    display: flex;
    flex-flow: column;

    border: 2px solid;
    border-radius: 15px;
    border-color: white;
    background-color: white;
    padding: 10px;
    margin: 15px;
}

.hA
{
    display: flex;
}

h1 i
{
    margin-left: 250px;
}

.B
{
    display: flex;

    border: 1px solid;
    border-color: transparent;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 15px; 
    margin-top: 35px;
}

.blue i
{
    color: #0065FC;
}

.grey i
{
    color: #F2F2F2;
}

.C
{
    width: 100%;
    height: 100%;
}

.D
{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.lol
{
    position: absolute;
    bottom: 1px;
}

.imageP
{
    background-size: cover;
    width: 200px;
    height: 160px;
}

strong
{
    font-style: bold;
}

.big
{
    border: 1px solid;
    border-radius: 15px;
    border-color: #F2F2F2;
    padding-bottom: 25px;
    
    margin-bottom: 50px;
    box-shadow: 0px 5px #F2F2F2;
}

.big img
{
    background-size: cover;
    width: 375px;
    height: 500px;
}

.medium
{
     border: 1px solid;
     border-radius: 15px;
     border-color: #F2F2F2;
     padding-bottom: 25px;
    
     margin-bottom: 25px;
     box-shadow: 0px 5px #F2F2F2;
}

.medium img
{
    background-size: cover;
    width: 375px;
    height: 225px; 
}

.small
{
    border: 1px solid;
    border-radius: 15px;
    border-color: #F2F2F2;
    padding-bottom: 25px;
    
    margin-bottom: 25px;
    box-shadow: 0px 5px #F2F2F2;
}

.small img
{
    background-size: cover;
    width: 375px;
    height: 175px;
}

.box
{
    display: flex;
    align-items: flex-start;
}

.double
{
    display: flex;
    flex-flow: column;
}

.un
{
    margin-right: 50px;
}

.deux
{
    margin-bottom: 50px;
}

.quatre
{
    margin-right: 50px;
    margin-left: 50px;
}

.cinq
{
    margin-bottom: 50px;
}